

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #D6A42A;
  --secondary: #4f70ce;
  --success: #28a745;
  --info: #ccc;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #ef975d;
  --dark: #503c0b;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

body {
  color: #271d05;
}

a {
  color: #FAD022;
}
a:hover {
  color: #FBB416;
}

.table {
  color: #503c0b;
}

.table-hover tbody tr:hover {
  color: #503c0b;
  background-color: rgba(0, 0, 0, 0.075);
}

.form-control:focus {
  border-color: #D6A42A;
}

.form-control-plaintext {
  color: #503c0b;
}

.btn {
  color: #503c0b;
}
.btn:hover {
  color: #FBB416;
}
.btn:focus, .btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(234, 116, 36, 0.25);
}

.btn-primary {
  color: #fff;
  background-color: #d9b825;
  border-color: #D6A42A;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-primary:hover {
  color: #fff;
  background-color: #7a5f0f;
  border-color: #785a00;
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(237, 137, 69, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #D6A42A;
  border-color: #D6A42A;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #785a00;
  border-color: #785a00;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(237, 137, 69, 0.5);
}

.btn-link {
  color: #D6A42A;
}
.btn-link:hover {
  color: #b15111;
}

.dropdown-menu {
  color: #503c0b;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: #D6A42A;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #D6A42A;
}

.page-link {
  color: #D6A42A;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-link:hover {
  color: #b15111;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(234, 116, 36, 0.25);
}

.page-item.active .page-link {
  color: #fff;
  background-color: #D6A42A;
  border-color: #D6A42A;
}

.badge-primary {
  color: #fff;
  background-color: #D6A42A;
}
a.badge-primary:hover, a.badge-primary:focus {
  color: #fff;
  background-color: #785a00;
}
a.badge-primary:focus, a.badge-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(234, 116, 36, 0.5);
}

.popover-body {
  padding: 0.5rem 0.75rem;
  color: #503c0b;
}

.bg-primary {
  background-color: #D6A42A !important;
}

.bg-light {
  background-color: #ef975d !important;
}

.text-primary {
  color: #D6A42A !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #b15111 !important;
}

.text-light {
  color: #ef975d !important; }

a.text-light:hover, a.text-light:focus {
  color: #e86a17 !important; }

.text-dark {
  color: #503c0b !important; }

a.text-dark:hover, a.text-dark:focus {
  color: #170b02 !important; }

.text-body {
  color: #503c0b !important; }

#cuadros-cursos td {
  font-weight: 300;
}

.fondo-degrade {
  background-color: #D6A42A;
  /*
  background: linear-gradient(to bottom right, #ea7424, #a24b10 );
  background: -webkit-linear-gradient(to bottom right, #ea7424, #a24b10);
  background: -moz-linear-gradient(to bottom right, #ea7424, #a24b10);
  background: -o-linear-gradient(to bottom right, #ea7424, #a24b10);
  background: -ms-linear-gradient(to bottom right, #ea7424, #a24b10);
  -ms-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ea7424',endColorStr='#ea7424',GradientType=0);
  */
}
